<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hshc.relay.dao.CarLeaseConsumeDao">

    <insert id="insert" parameterType="com.taobao.api.response.TmallCarLeaseConsumeResponse$Result">
        insert into tmall_lease_result(
            cost_time,
            error_code,
            error_message,
            gmt_current_time,
            object,
            success,
            lease_type,
            create_time
        )values(
            #{costTime, jdbcType=BIGINT},
            #{errorCode, jdbcType=BIGINT},
            #{errorMessage, jdbcType=VARCHAR},
            #{gmtCurrentTime, jdbcType=BIGINT},
            #{object, jdbcType=INTEGER},
            #{success, jdbcType=INTEGER},
            #{leaseType, jdbcType=VARCHAR},
            now()
        )
    </insert>

    <select id="selectOne"  parameterType="int" resultType="com.taobao.api.response.TmallCarLeaseConsumeResponse$Result">
        select
            id
            cost_time,
            error_code,
            error_message,
            gmt_current_time,
            msg_code,
            msg_info,
            object,
            success,
            lease_type,
            create_time
        from tmall_lease_result
        where id = #{id}
    </select>

</mapper>