<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hshc.relay.dao.CustomerDao">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.hshc.relay.entity.riskcontrol.Customer">
        insert into rc_customer(id, name, identity_no, mobile, uuid, consignee_address)
        values(#{id}, #{name}, #{identityNo}, #{mobile}, #{uuid}, #{consigneeAddress})
    </insert>

    <update id="update" parameterType="com.hshc.relay.entity.riskcontrol.Customer">
        update rc_customer
        <set>
            <if test="pass != null">
                pass = #{pass},
            </if>
            <if test="rejectMsg != null">
                reject_msg = #{rejectMsg},
            </if>
            <if test="returned != null">
                returned = #{returned}
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>