<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hshc.relay.dao.CustomerDao">

    <sql id="columns">
        rc.name, rc.identity_no, rc.mobile, rc.uuid, rc.consignee_address, rc.create_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.hshc.relay.entity.riskcontrol.Customer">
        insert into rc_customer(id, name, identity_no, mobile, uuid, consignee_address, item_id, create_time)
        values(#{id}, #{name}, #{identityNo}, #{mobile}, #{uuid}, #{addr}, #{itemId}, now())
    </insert>

    <update id="update" parameterType="com.hshc.relay.entity.riskcontrol.Customer">
        update rc_customer
        <set>
            <if test="pass != null">
                pass = #{pass},
            </if>
            <if test="rejectMsg != null">
                reject_msg = #{rejectMsg},
            </if>
            <if test="returned != null">
                returned = #{returned},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectTopDto" parameterType="com.hshc.relay.entity.riskcontrol.Customer" resultType="com.taobao.api.request.TmallCarLeaseRiskcallbackRequest$CreditInfoTopDto">
        select rc.name, rc.identity_no "identityNo", rc.mobile, rc.uuid, rc.consignee_address "addr"
        from rc_customer rc
        where rc.uuid = #{uuid}
    </select>

    <select id="selectList" parameterType="com.hshc.relay.dto.qo.CustomerQo" resultType="com.hshc.relay.entity.riskcontrol.Customer">
        select <include refid="columns"/>, fps.item_name
        from rc_customer rc
        left outer join fenxiao_product_map fpm
        on rc.item_id = fpm.ic_item_id
        left outer join fenxiao_product_sc fps
        on fpm.outer_code = fps.outer_code
        <where>
            <if test="name != null">
                rc.name like "%"#{name}"%"
            </if>
            <if test="identityNo != null">
                and rc.identity_no like "%"#{identityNo}"%"
            </if>
            <if test="mobile != null">
                and rc.mobile like "%"#{mobile}"%"
            </if>
            <if test="createTimeFrom != null">
                and rc.create_time >= #{createTimeFrom}
            </if>
            <if test="createTimeTo != null">
                and rc.create_time &lt;= #{createTimeTo}
            </if>
            <if test="itemName != null">
                and fps.item_name like "%"#{itemName}"%"
            </if>
        </where>
    </select>

</mapper>