<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hshc.relay.dao.OrderDao">

<insert id="insert" parameterType="com.taobao.api.domain.Order">
insert into order_sub(
  CAR_STORE_CODE,
  CAR_STORE_NAME,
  CAR_TAKER,
  CAR_TAKER_ID,
  DOWN_PAYMENT,
  DOWN_PAYMENT_RATIO,
  ESTIMATE_CON_TIME,
  ET_SHOP_NAME,
  INSTALLMENT_NUM,
  MONTH_PAYMENT,
  NUM,
  NUM_IID,
  OID,
  OID_STR,
  ORDER_ATTR,
  ORDER_FROM,
  OUT_UNIQUE_ID,
  PAYMENT,
  PENALTY,
  PRICE,
  REFUND_STATUS,
  SELLER_RATE,
  SERVICE_FEE,
  SKU_ID,
  SKU_PROPERTIES_NAME,
  STATUS,
  STORE_CODE,
  TAIL_PAYMENT,
  TITLE,
  TOTAL_FEE,
  WS_BANK_APPLY_NO,
  TYPE,
  TID
)values(
  #{carStoreCode,jdbcType=VARCHAR},
  #{carStoreName,jdbcType=VARCHAR},
  #{carTaker,jdbcType=VARCHAR},
  #{carTakerId,jdbcType=VARCHAR},
  #{downPayment,jdbcType=VARCHAR},
  #{downPaymentRatio,jdbcType=VARCHAR},
  #{estimateConTime,jdbcType=VARCHAR},
  #{etShopName,jdbcType=VARCHAR},
  #{installmentNum,jdbcType=VARCHAR},
  #{monthPayment,jdbcType=VARCHAR},
  #{num,jdbcType=VARCHAR},
  #{numIid,jdbcType=VARCHAR},
  #{oid,jdbcType=VARCHAR},
  #{oidStr,jdbcType=VARCHAR},
  #{orderAttr,jdbcType=VARCHAR},
  #{orderFrom,jdbcType=VARCHAR},
  #{outUniqueId,jdbcType=VARCHAR},
  #{payment,jdbcType=VARCHAR},
  #{penalty,jdbcType=VARCHAR},
  #{price,jdbcType=VARCHAR},
  #{refundStatus,jdbcType=VARCHAR},
  #{sellerRate,jdbcType=VARCHAR},
  #{serviceFee,jdbcType=VARCHAR},
  #{skuId,jdbcType=VARCHAR},
  #{skuPropertiesName,jdbcType=VARCHAR},
  #{status,jdbcType=VARCHAR},
  #{storeCode,jdbcType=VARCHAR},
  #{tailPayment,jdbcType=VARCHAR},
  #{title,jdbcType=VARCHAR},
  #{totalFee,jdbcType=VARCHAR},
  #{wsBankApplyNo,jdbcType=VARCHAR},
  #{type,jdbcType=VARCHAR},
  #{tid,jdbcType=VARCHAR}
)
</insert>
<update id="update" parameterType="com.taobao.api.domain.Order">
update order_sub set
  CAR_STORE_CODE = #{carStoreCode,jdbcType=VARCHAR},
  CAR_STORE_NAME = #{carStoreName,jdbcType=VARCHAR},
  CAR_TAKER	= #{carTaker,jdbcType=VARCHAR},
  CAR_TAKER_ID = #{carTakerId,jdbcType=VARCHAR},
  DOWN_PAYMENT = #{downPayment,jdbcType=VARCHAR},
  DOWN_PAYMENT_RATIO = #{downPaymentRatio,jdbcType=VARCHAR},
  ESTIMATE_CON_TIME	= #{estimateConTime,jdbcType=VARCHAR},
  ET_SHOP_NAME = #{etShopName,jdbcType=VARCHAR},
  INSTALLMENT_NUM = #{installmentNum,jdbcType=VARCHAR},
  MONTH_PAYMENT	= #{monthPayment,jdbcType=VARCHAR},
  NUM = #{num,jdbcType=VARCHAR},
  NUM_IID = #{numIid,jdbcType=VARCHAR},
  OID = #{oid,jdbcType=VARCHAR},
  OID_STR = #{oidStr,jdbcType=VARCHAR},
  ORDER_ATTR = #{orderAttr,jdbcType=VARCHAR},
  ORDER_FROM = #{orderFrom,jdbcType=VARCHAR},
  OUT_UNIQUE_ID	= #{outUniqueId,jdbcType=VARCHAR},
  PAYMENT = #{payment,jdbcType=VARCHAR},
  PENALTY = #{penalty,jdbcType=VARCHAR},
  PRICE	= #{price,jdbcType=VARCHAR},
  REFUND_STATUS	= #{refundStatus,jdbcType=VARCHAR},
  SELLER_RATE = #{sellerRate,jdbcType=VARCHAR},
  SERVICE_FEE = #{serviceFee,jdbcType=VARCHAR},
  SKU_ID = #{skuId,jdbcType=VARCHAR},
  SKU_PROPERTIES_NAME =	#{skuPropertiesName,jdbcType=VARCHAR},
  STATUS = #{status,jdbcType=VARCHAR},
  STORE_CODE = #{storeCode,jdbcType=VARCHAR},
  TAIL_PAYMENT = #{tailPayment,jdbcType=VARCHAR},
  TITLE = #{title,jdbcType=VARCHAR},
  TOTAL_FEE = #{totalFee,jdbcType=VARCHAR},
  WS_BANK_APPLY_NO = #{wsBankApplyNo,jdbcType=VARCHAR},
  TYPE = #{type,jdbcType=VARCHAR}
  where TID = #{tid,jdbcType=VARCHAR}
</update>
</mapper>