<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hshc.relay.dao.ScitemAddRequestDao">

    <insert id="insert" parameterType="com.taobao.api.request.ScitemAddRequest">
        insert into fenxiao_product_sc (outer_code,item_name,creattime,is_send)values(#{outerCode,jdbcType=VARCHAR},#{itemName,jdbcType=VARCHAR},NOW(),'false')
    </insert>

    <update id="update" parameterType="com.taobao.api.request.ScitemAddRequest">
          update fenxiao_product_sc set
              updatetime=now()
              <if test="itemName">
                ,item_name=#{itemName}
              </if>
          where  outer_code=#{outerCode}
    </update>

    <update id="updateSendStatu" parameterType="map">
        update fenxiao_product_sc set
          updatetime=now()
        <if test="log != null and  log != ''">
            ,log=#{log}
        </if>
        <if test="isSend != null and isSend != ''">
            ,is_send=#{isSend}
        </if>
        where  outer_code=#{outerCode}
    </update>

</mapper>