<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hshc.relay.dao.ScitemAddResponseDao">


    <sql id="columns">
        c.item_id,c.item_name,c.outer_code,c.item_type,c.properties,c.bar_code,c.wms_code,c.is_friable,c.is_dangerous,c.is_costly,c.is_warranty,c.weight,
        c.length,c.width,c.height,c.volume,c.price,c.remark,c.matter_status,c.brand_id,c.brand_name,c.is_area_sale,c.options
    </sql>

    <insert id="insert"  parameterType="com.taobao.api.response.ScitemAddResponse">
        insert into sc_commodity (item_id,item_name,outer_code,item_type,properties,bar_code,wms_code,is_friable,is_dangerous,is_costly,is_warranty,weight,
                    length,width,height,volume,price,remark,matter_status,brand_id,brand_name,is_area_sale,options)
        values(#{scItem.itemId},#{scItem.itemName},#{scItem.outerCode},#{scItem.itemType},#{scItem.properties},#{scItem.barCode},#{scItem.wmsCode},#{scItem.isFriable},
              #{scItem.isDangerous},#{scItem.isCostly},#{scItem.isWarranty},#{scItem.weight},#{scItem.length},#{scItem.width},#{scItem.height},#{scItem.volume},#{scItem.price},
              #{scItem.remark},#{scItem.matterStatus},#{scItem.brandId},#{scItem.brandName},#{scItem.isAreaSale},#{scItem.options})
    </insert>

    <select id="selectOne" parameterType="String" resultType="com.taobao.api.response.ScitemAddResponse">
        select <include refid="columns"/>
        from sc_commodity c
        where id = #{id}
    </select>



</mapper>