<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hshc.relay.dao.TradeFullinfoGetResponseDao">

    <!--<insert id="insert" parameterType="com.taobao.api.response.TradeFullinfoGetResponse$Trade">-->

        <!--INSERT INTO trade_fullinfo-->

    <!--</insert>-->


</mapper>