<div class="container-fluid" ng-controller="userController">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <label for="queryName">姓名</label>
                <input id="queryName" class="form-control" type="text" ng-model="queryObj.name"/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <p class="input-group">
                    <label for="queryCreateTime">创建时间</label>
                    <input id="queryCreateTime" type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="queryObj.createTime"
                           is-open="createTime.opened" datepicker-options="dateOptions" ng-required="true" clear-text="清除" current-text="今天"
                           close-text="关闭" alt-input-formats="altInputFormats"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openCreateTime()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6 cl-sm-4 col-md-1 col-lg-1 col-xs-offset-6 col-sm-offset-8 col-md-offset-11 col-lg-offset-11">
                <button class="btn btn-primary" ng-click="getPage()">查询</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 cl-sm-4 col-md-1 col-lg-1">
            <button class="btn btn-primary btn-large" ng-click="toAddUser()">新增用户</button>
        </div>
    </div>
    <div class="row grid" ui-grid="gridOptions" ui-grid-pagination></div>
</div>
