<div class="container-fluid" ng-controller="userController">
    <div class="row">
        <h4>查询条件</h4>
        <div class="form-group">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <label for="queryName">姓名</label>
                <input id="queryName" class="form-control" type="text" ng-model="queryUser.name"/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <p class="input-group">
                    <label for="queryCreateTime">创建时间</label>
                    <input id="queryCreateTime" type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd HH:mm:ss" ng-model="queryUser.createTime"
                           is-open="createTime.opened" datepicker-options="dateOptions" ng-required="true"
                           close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openCreateTime()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6 cl-sm-4 col-md-1 col-lg-1 col-xs-offset-6 col-sm-offset-8 col-md-offset-11 col-lg-offset-11">
                <button class="btn btn-primary" ng-click="getPage()">查询</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 cl-sm-4 col-md-1 col-lg-1">
            <button class="btn btn-primary btn-large" ng-click="toAddUser()">新增用户</button>
        </div>
    </div>
    <div class="row grid" ui-grid="gridOptions" ui-grid-pagination ng-if="state == 'list'">

    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{modalOp.title}}</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="form-group">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <label for="name">姓名</label>
                    <input id="name" class="form-control" type="text" ng-model="user.name"/>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <p class="input-group">
                        <label for="createTime">创建时间</label>
                        <input id="createTime" type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd HH:mm:ss" ng-model="user.createTime"
                               is-open="createTime.opened" datepicker-options="dateOptions" ng-required="true"
                               close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openCreateTime()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="modalOp.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="modalOp.cancel()">Cancel</button>
        </div>
    </script>
</div>
